<nav>
    <div class="container">
<div class="content">
    <h2 class="logo "> HOME </h2>
    <ul>
    <li><a routerLink ="dashboard"> products</a></li>
    <li routerLink="/cart" >CART</li>
     <li routerLink="/user" >USER </li>
    </ul>
</div>
</div>
</nav>


<div class="container my-5">
  <h4 class="mb-4">Product Inventory</h4>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner  " >
    <div class="carousel-item active">
      <img src="" class="d-block w-100" >
    </div>
    <div class="carousel-item">
      <img src="" class="d-block w-100" >
    </div>
    <div class="carousel-item">
      <img src="" class="d-block w-100" >
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>




<div class="container py-5">
  <h3 class="text-center fw-bold mb-5">SHOP BY CATEGORY</h3>
  <div class="row g-4">

    <!-- PC Case -->
    <div class="col-6 col-md-3 col-lg-2">
      <div class="category-card">
        <img src="https://cdn-icons-png.flaticon.com/512/1866/1866949.png" alt="Fans & Cooling" class="img-fluid">
      </div>
      <div class="text-center"><h6>Fans & Cooling</h6></div>
    </div>
  

    <!-- Graphics Cards -->
    <div class="col-6 col-md-3 col-lg-2">
      <div class="category-card">
        <img src="https://cdn-icons-png.flaticon.com/512/1866/1866949.png" alt="Fans & Cooling" class="img-fluid">
      </div>
      <div class="text-center"><h6>Fans & Cooling</h6></div>
    </div>

    <!-- Monitors -->
   <div class="col-6 col-md-3 col-lg-2">
      <div class="category-card">
        <img src="https://cdn-icons-png.flaticon.com/512/1866/1866949.png" alt="Fans & Cooling" class="img-fluid">
      </div>
      <div class="text-center"><h6>Fans & Cooling</h6></div>
    </div>

    <!-- CPUs -->
   <div class="col-6 col-md-3 col-lg-2">
      <div class="category-card">
        <img src="https://cdn-icons-png.flaticon.com/512/1866/1866949.png" alt="Fans & Cooling" class="img-fluid">
      </div>
      <div class="text-center"><h6>Fans & Cooling</h6></div>
    </div>

    <!-- Motherboards -->
   <div class="col-6 col-md-3 col-lg-2">
      <div class="category-card">
        <img src="https://cdn-icons-png.flaticon.com/512/1866/1866949.png" alt="Fans & Cooling" class="img-fluid">
      </div>
      <div class="text-center"><h6>Fans & Cooling</h6></div>
    </div>

    <!-- Power Supply -->
   <div class="col-6 col-md-3 col-lg-2">
      <div class="category-card">
        <img src="https://cdn-icons-png.flaticon.com/512/1866/1866949.png" alt="Fans & Cooling" class="img-fluid">
      </div>
      <div class="text-center"><h6>Fans & Cooling</h6></div>
    </div>

    <!-- RAMs -->
    <div class="col-6 col-md-3 col-lg-2">
      <div class="category-card">
        <img src="https://cdn-icons-png.flaticon.com/512/1866/1866949.png" alt="Fans & Cooling" class="img-fluid">
      </div>
      <div class="text-center"><h6>Fans & Cooling</h6></div>
    </div>

    <!-- Data Storage -->
   <div class="col-6 col-md-3 col-lg-2">
      <div class="category-card">
        <img src="https://cdn-icons-png.flaticon.com/512/1866/1866949.png" alt="Fans & Cooling" class="img-fluid">
      </div>
      <div class="text-center"><h6>Fans & Cooling</h6></div>
    </div>

    <!-- Fans & Cooling -->
    <div class="col-6 col-md-3 col-lg-2">
      <div class="category-card">
        <img src="https://cdn-icons-png.flaticon.com/512/1866/1866949.png" alt="Fans & Cooling" class="img-fluid">
      </div>
      <div class="text-center"><h6>Fans & Cooling</h6></div>
    </div>

    <!-- Gaming Headsets -->
    <div class="col-6 col-md-3 col-lg-2">
      <div class="category-card">
        <img src="https://cdn-icons-png.flaticon.com/512/1866/1866949.png" alt="Fans & Cooling" class="img-fluid">
      </div>
      <div class="text-center"><h6>Fans & Cooling</h6></div>
    </div>

    <!-- Microphone -->
   <div class="col-6 col-md-3 col-lg-2">
      <div class="category-card">
        <img src="https://cdn-icons-png.flaticon.com/512/1866/1866949.png" alt="Fans & Cooling" class="img-fluid">
      </div>
      <div class="text-center"><h6>Fans & Cooling</h6></div>
    </div>

    <!-- Keyboard -->
    <div class="col-6 col-md-3 col-lg-2">
      <div class="category-card">
        <img src="https://cdn-icons-png.flaticon.com/512/1866/1866949.png" alt="Fans & Cooling" class="img-fluid">
      </div>
      <div class="text-center"><h6>Fans & Cooling</h6></div>
    </div>

    <!-- Controller & Joystick -->
   <div class="col-6 col-md-3 col-lg-2">
      <div class="category-card">
        <img src="https://cdn-icons-png.flaticon.com/512/1866/1866949.png" alt="Fans & Cooling" class="img-fluid">
      </div>
      <div class="text-center"><h6>Fans & Cooling</h6></div>
    </div>

    <!-- Mouse -->
    <div class="col-6 col-md-3 col-lg-2">
      <div class="category-card">
        <img src="https://cdn-icons-png.flaticon.com/512/1866/1866949.png" alt="Fans & Cooling" class="img-fluid">
      </div>
      <div class="text-center"><h6>Fans & Cooling</h6></div>
    </div>

  </div>
</div>
