nav {
  background: linear-gradient(to right, #950b0b, #440606);
  color: #FFF;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

  ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      width: 20%;
      margin: 0;
      gap: 20px;

      li {
        cursor: pointer;
        font-size: 22px;
        color: #FFF;
        text-decoration: none;
       
      }
    }
  }
}

.category-card {
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  background: linear-gradient(135deg, #4a00e0, #e100ff);
  color: #fff;
  transition: transform 0.3s ease;
}

.category-card:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.category-card img {
  max-width: 100px;
  margin-bottom: 10px;
}

.category-card h6 {
  margin: 0;
  font-weight: 600;
}
